Repository TheReverend403/pste: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, ruff-check, ruff-format

check-yaml:
  name: check-yaml
  entry: poetry run check-yaml
  language: system

check-toml:
  name: check-toml
  entry: poetry run check-toml
  language: system

ruff-check:
  name: ruff-check
  entry: poetry run ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: poetry run ruff format --force-exclude
  language: system

Enable SQLALCHEMY_RECORD_QUERIES in debug
  pste/__init__.py
Due: ruff-check, ruff-format

Update email-validator
  poetry.lock
  pyproject.toml
Due: check-toml

Configure LIBSASS_INCLUDES so relative imports work
  pste/__init__.py
  pste/assets/scss/app.scss
  pyproject.toml
Due: check-toml, ruff-check, ruff-format

Remove unnecessary str()
  pste/__init__.py
  pyproject.toml
Due: check-toml, ruff-check, ruff-format

Force rebuild
  pyproject.toml
Due: check-toml

Don't mark every build as latest
  .github/workflows/build-docker-image.yml
Due: check-yaml

Unbreak the thing
  Dockerfile
  pste/__init__.py
  pste/assets/scss/app.scss
  pyproject.toml
Due: check-toml, ruff-check, ruff-format

OK so that *does* work
  poetry.lock
  pste/__init__.py
  pste/assets/scss/app.scss
  pyproject.toml
Due: check-toml, ruff-check, ruff-format

Use email-validator instead of a custom regex
  pste/commands/user.py
Due: ruff-check, ruff-format

Bump version
  poetry.lock
  pyproject.toml
Due: check-toml

Add META_SOURCE, rename version.py to meta.py
  .github/workflows/build-docker-image.yml
  Dockerfile
  pste/__init__.py
  pste/meta.py
  pste/templates/base.html
  pyproject.toml
Due: check-yaml, check-toml, ruff-check, ruff-format

Format version as <version>-<hash>
  pste/meta.py
  pyproject.toml
Due: check-toml, ruff-check, ruff-format

Migrate to bootstrap 5.
  package.json
  pste/__init__.py
  pste/assets/scss/app.scss
  pste/templates/auth/_form.html
  pste/templates/auth/login.html
  pste/templates/auth/register.html
  pste/templates/base.html
  pste/templates/main/index.html
  pste/templates/main/paste.html
  pyproject.toml
  yarn.lock
Due: check-toml, ruff-check, ruff-format

Regenerate pygments.css
  pste/assets/css/pygments.css
  pyproject.toml
Due: check-toml

Fix paste background
  pste/assets/scss/app.scss
  pyproject.toml
Due: check-toml

Fix the nav collapse
  pste/templates/base.html
  pyproject.toml
Due: check-toml

Update ruff
  poetry.lock
  pste/db/migrations/versions/2a006fa06649_.py
  pste/db/migrations/versions/4eaa692b46c2_.py
  pste/db/migrations/versions/7039aecf71a9_.py
  pste/db/migrations/versions/8693eef67ac6_update_indexes.py
  pyproject.toml
Due: check-toml, ruff-check, ruff-format

Make LSP stop whining
  pste/meta.py
Due: ruff-check, ruff-format

Update dependencies
  poetry.lock
  pyproject.toml
Due: check-toml

Add stylelint to pre-commit
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  Dockerfile
  package.json
  poetry.lock
  pste/assets/css/pygments.css
  pste/assets/css/starwars-glyphicons.css
  pste/assets/scss/app.scss
  pste/templates/auth/_form.html
  pste/templates/base.html
  pste/templates/main/index.html
  pste/templates/main/paste.html
  pyproject.toml
  yarn.lock
Due: check-yaml, check-toml

Bump version
  package.json
  pyproject.toml
Due: check-toml

sr-only -> visually-hidden
  package.json
  pste/templates/base.html
  pyproject.toml
Due: check-toml

Set login_message_category to danger
  pste/extensions.py
Due: ruff-check, ruff-format

Support more alert categories
  package.json
  pste/assets/scss/app.scss
  pste/extensions.py
  pste/templates/base.html
  pyproject.toml
Due: check-toml, ruff-check, ruff-format

Remove some unused/unneeded css
  pste/assets/scss/app.scss
  pste/templates/base.html
  pste/templates/main/index.html
  pste/templates/main/paste.html
Due: none

Use more pathlib functions
  pste/__init__.py
  pste/commands/file.py
  pste/models/file.py
  pste/models/user.py
  pste/paths.py
  pste/views/web.py
Due: ruff-check, ruff-format

Switch to redis for session storage
  poetry.lock
  pste/__init__.py
  pste/extensions.py
  pste/resources/config/settings.yml
  pyproject.toml
Due: check-yaml, check-toml, ruff-check, ruff-format

Set record queries before initialising db
  pste/__init__.py
  pyproject.toml
Due: check-toml, ruff-check, ruff-format

Bump package.json version
  package.json
Due: none

Unbreak `file clean`
  package.json
  pste/commands/file.py
  pyproject.toml
Due: check-toml, ruff-check, ruff-format

Add sessions_redis_url as an optional override for global redis_url
  package.json
  pste/__init__.py
  pste/resources/config/settings.yml
  pyproject.toml
Due: check-yaml, check-toml, ruff-check, ruff-format

Prefer `redis` over `Redis`
  pste/__init__.py
Due: ruff-check, ruff-format

Switch default settings file to toml
  README.md
  docker/rootfs/docker-entrypoint.sh
  pste/resources/config/settings.toml
Due: check-toml

Update dependencies
  poetry.lock
Due: none

Update shellcheck-py
  poetry.lock
  pyproject.toml
Due: check-toml

Group `Set up Node` with dependencies
  .github/workflows/lint.yml
Due: check-yaml

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
