Repository TheReverend403/pste: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: poetry run end-of-file-fixer
        language: system
        types: [text]

      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: poetry run trailing-whitespace-fixer
        language: system
        types: [text]

      - id: check-yaml
        name: check-yaml
        entry: poetry run check-yaml
        language: system
        types: [yaml]

      - id: check-toml
        name: check-toml
        entry: poetry run check-toml
        language: system
        types: [toml]

      - id: check-shebang-scripts-are-executable
        name: check-shebang-scripts-are-executable
        entry: poetry run check-shebang-scripts-are-executable
        language: system
        types: [text]

      - id: shellcheck
        name: shellcheck
        entry: poetry run shellcheck
        language: system
        types: [shell]

      - id: ruff-check
        name: ruff-check
        entry: poetry run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff-format
        entry: poetry run ruff format --force-exclude
        language: system
        types: [python]

Use built in caching for python setup
  .github/workflows/build-docker-image.yml
  .github/workflows/lint.yml
Due: check-yaml

Fix workflows
  .github/workflows/build-docker-image.yml
  .github/workflows/lint.yml
Due: check-yaml

Add --no-root to poetry action
  .github/workflows/lint.yml
Due: check-yaml

Update dependencies
  poetry.lock
Due: none

Update ruff
  poetry.lock
Due: none

Update ruff
  poetry.lock
  pyproject.toml
Due: check-toml

Update dependencies
  poetry.lock
  pyproject.toml
  yarn.lock
Due: check-toml

Set poetry package-mode to false
  pyproject.toml
Due: check-toml

Update dependencies
  .python-version
Due: none

Update ruff
  poetry.lock
  pste/commands/user.py
  pyproject.toml
Due: check-toml, ruff-check, ruff-format

Cancel previous workflows on update
  .github/workflows/build-docker-image.yml
Due: check-yaml

Remove redundant --no-root
  .github/workflows/lint.yml
Due: check-yaml

Update JS dependencies
  yarn.lock
Due: none

Remove redundant --no-root
  Dockerfile
Due: none

'as' and 'FROM' keywords' casing do not match
  Dockerfile
Due: none

Shut up github
  Dockerfile
Due: none

Loosen .python-version spec
  .python-version
  poetry.lock
Due: none

Enable FURB, update dependencies
  poetry.lock
  pyproject.toml
Due: check-toml

Don't specify poetry-core version
  pyproject.toml
Due: check-toml

Actually use python 3.13 in dockerfile
  Dockerfile
Due: none

OK this wasn't meant to be 3.13 yet
  Dockerfile
  poetry.lock
  pyproject.toml
Due: check-toml
