Repository TheReverend403/pste: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: poetry run end-of-file-fixer
        language: system
        types: [text]

      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: poetry run trailing-whitespace-fixer
        language: system
        types: [text]

      - id: check-yaml
        name: check-yaml
        entry: poetry run check-yaml
        language: system
        types: [yaml]

      - id: check-toml
        name: check-toml
        entry: poetry run check-toml
        language: system
        types: [toml]

      - id: check-shebang-scripts-are-executable
        name: check-shebang-scripts-are-executable
        entry: poetry run check-shebang-scripts-are-executable
        language: system
        types: [text]

      - id: shellcheck
        name: shellcheck
        entry: poetry run shellcheck
        language: system
        types: [shell]

      - id: ruff-check
        name: ruff-check
        entry: poetry run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff-format
        entry: poetry run ruff format --force-exclude
        language: system
        types: [python]

Update dependencies
  poetry.lock
Due: none

Update dependencies
  poetry.lock
  pste/models/file.py
  pyproject.toml
Due: check-toml, ruff-check, ruff-format

Update dependencies
  poetry.lock
  pste/__init__.py
  pyproject.toml
  yarn.lock
Due: check-toml, ruff-check, ruff-format

Add redis to gitignore
  .gitignore
Due: none

Poetry updates
  poetry.lock
Due: none

Update to poetry 2.0
  poetry.lock
  pyproject.toml
Due: check-toml

Fix build errors due to missing files
  Dockerfile
Due: none

Switch dependency specs to PEP 508
  .github/workflows/lint.yml
  .python-version
  Dockerfile
  poetry.lock
  pyproject.toml
Due: check-yaml, check-toml

Linting tends to work better when you install the linter
  .github/workflows/lint.yml
Due: check-yaml

Remove duplicate dependency
  poetry.lock
  pyproject.toml
Due: check-toml

Switch to uv
  .github/workflows/lint.yml
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  uv.lock
Due: check-yaml, check-toml

Run actions without v* prefix
  .github/workflows/build-docker-image.yml
  pyproject.toml
  uv.lock
Due: check-yaml, check-toml

Try explicitly passing --config to ruff for CI
  .pre-commit-config.yaml
Due: check-yaml

Revert "Try explicitly passing --config to ruff for CI"
  .pre-commit-config.yaml
Due: check-yaml

Run pre-commit directly instead of using the action
  .github/workflows/lint.yml
Due: check-yaml

Revert "Run pre-commit directly instead of using the action"
  .github/workflows/lint.yml
Due: check-yaml

Remove unneeded curl from builder
  Dockerfile
  uv.lock
Due: none

Update dependencies
  uv.lock
Due: none

Fix CI builds, add docker-compose file for dev
  .github/workflows/build-docker-image.yml
  .github/workflows/lint.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  docker/.env.example
  docker/docker-compose.dev.yml
  pste/__init__.py
  pyproject.toml
  uv.lock
Due: check-yaml, check-toml, ruff-check, ruff-format

Explicitly set docker-compose name to prevent conflicts
  docker/docker-compose.dev.yml
Due: check-yaml

Add flaskenv for dev
  .flaskenv
  .gitignore
  README.md
Due: none

Update node
  .github/workflows/lint.yml
  Dockerfile
  uv.lock
Due: check-yaml

Update ruff
  uv.lock
Due: none

Add env var info to settings.toml
  pste/resources/config/settings.toml
Due: check-toml

Update dev containers
  docker/.env.example
  docker/docker-compose.dev.yml
Due: check-yaml
